[submodule "zsh-custom/themes/powerlevel10k"]
	path = zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "ls_colors"]
	path = ls_colors
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "zsh-custom/plugins/zsh-autocomplete"]
	path = zsh-custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vundle"]
	path = vundle
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "oh-my-tmux"]
	path = oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "zsh-custom/plugins/zsh-autosuggestions"]
	path = zsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-custom/plugins/Azure-Keyvault-Zsh"]
	path = zsh-custom/plugins/Azure-Keyvault-Zsh
	url = https://github.com/milespossing/Azure-Keyvault-Zsh.git
[submodule "zsh-custom/plugins/az-custom"]
	path = zsh-custom/plugins/az-custom
	url = https://github.com/milespossing/Azure-Keyvault-Zsh.git
[submodule "zsh-custom/plugins/az-keyvault"]
	path = zsh-custom/plugins/az-keyvault
	url = https://github.com/milespossing/Azure-Keyvault-Zsh.git
