let mapleader = ','
set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000
set ideajoin
set easymotion
set surround

" basic commands
map <leader><leader>p <Action>(ReformatWithPrettierAction)
map <leader><leader>r <Action>(RunAnything)


" basic motions
map <leader>gd <Action>(QuickJavaDoc)
map <leader>ge <Action>(ShowErrorDescription)

command run <Action>(RunAnything)